@using BlazorApp.Features.Mortgager.Services.Abstractions

@inject IDataService _dataService

<div class="simple-form">
    <div class="form-group">
        <select class="form-select" @onchange="ChangeSelectedValue">
            <option value="Choose">-- Choose --</option>
            @foreach (var item in ExistingMortgages)
            {
                <option value="@item">@item</option>
            }
            <option value="Other">Create new</option>
        </select>
        @if (SelectedMortgage == "Other")
        {
            <input @bind="@newMortgage" type="text" class="form-control" id="mortgage-name" />
        }
    </div>
    <div class="buttons">
        <button @onclick="SetMortgage" disabled="@(!CanSelect())" class="btn btn-primary">Submit</button>
        <button @onclick="ModalInstance.CancelAsync" class="btn btn-secondary">Cancel</button>
    </div>
    <div id="error-message">@errorMessage</div>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = new();

    private string SelectedMortgage { get; set; } = string.Empty;
    private string newMortgage { get; set; } = string.Empty;
    private string errorMessage { get; set; } = string.Empty;
    List<string> ExistingMortgages { get; set; } = new();

    protected override async void OnInitialized()
    {
        ExistingMortgages = await _dataService.GetAllMortgageDocuments();
        StateHasChanged();
    }

    private bool CanSelect()
    {
        if ((SelectedMortgage == "Other" && string.IsNullOrEmpty(newMortgage))
        || SelectedMortgage == "Choose"
        || string.IsNullOrWhiteSpace(SelectedMortgage))
        {
            return false;
        }

        return true;
    }

    private void ChangeSelectedValue(ChangeEventArgs e)
    {
        errorMessage = string.Empty;
        SelectedMortgage = e?.Value?.ToString() ?? string.Empty;
        StateHasChanged();
    }

    private void SetMortgage()
    {
        if (!CanSelect())
        {
            errorMessage = "Wrong selection";
        }
        else
        {
            if (SelectedMortgage == "Other")
            {
                SelectedMortgage = newMortgage;
            }

            ModalInstance.CloseAsync(ModalResult.Ok<string>(SelectedMortgage));
        }
    }
}