@using Data
@using Services

@foreach (var day in days)
{
    <div class="day-wrapper">
        <div class="day">@day.Date</div>
        @foreach (var fixture in day.Fixtures)
        {
            <div class="fixture">
                <div class="home @HelperMethods.GetCssClassForCurrentStatus(fixture.Status)">@fixture.HomeTeam</div>
                <div class="result @HelperMethods.GetCssClassForCurrentStatus(fixture.Status)">
                    @(fixture.Status == "U" ? fixture.DateAndTime.ToShortTimeString() : fixture.Result)
                </div>
                <div class="away @HelperMethods.GetCssClassForCurrentStatus(fixture.Status)">@fixture.AwayTeam</div>
            </div>
        }

    </div>
}

@code {
    [Parameter]
    public List<Day> days { get; set; } = new();
}