@using Data
@using Services
@using BlazorApp.Features.Shared.Models

@inject IJSRuntime _js
@inject AppState _appState
@inject IDialogService DialogService

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>POS</th>
                <th>Team</th>
                <th>PL</th>
                <th>GD</th>
                <th>P</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in footballTable)
            {
                <tr @onmouseover="@(() => setCurrentlyPlayingDelegate!(team.ShortName))"
                @onmouseout="@(() => removeCurrentlyPlayingDelegate!(team.ShortName))" id="@team.ShortName"
                class="@team.CssClass @HelperMethods.GetCssClassForCurrentStatus(team.Status)"
                @onclick="(() => ShowUpcomingFixturesForTeam(team.Id, team.Name))">
                    <td>@team.Position</td>
                    <td>
                        <div>
                            @team.Name
                        </div>
                    </td>
                    <td>@team.Played</td>
                    <td>@team.GoalDifference</td>
                    <td>@team.Points</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public IEnumerable<Team> footballTable { get; set; } = new List<Team>();
    [Parameter] public Action<string>? setCurrentlyPlayingDelegate { get; set; }

    [Parameter] public Action<string>? removeCurrentlyPlayingDelegate { get; set; }

    public async void setCurrentlyPlaying(string home, string away)
    {
        await _js.InvokeVoidAsync($"PlTable.setClass", home, away);
    }

    public async void removeCurrentlyPlaying(string home, string away)
    {
        await _js.InvokeVoidAsync($"PlTable.removeClass", home, away);
    }

    private void ShowUpcomingFixturesForTeam(int teamId, string teamName)
    {
        var parameters = new DialogParameters();
        parameters.Add("TeamId", teamId);
        parameters.Add("TeamName", teamName);

        DialogService.Show<UpcomingFixturesForTeam>("Upcoming fixtures", parameters, new DialogOptions
        {
            CloseButton = false
        });
    }

    protected override void OnInitialized()
    {
        _appState.OnChange += OnAppStateChange;
    }

    public void Dispose()
    {
        _appState.OnChange -= OnAppStateChange;
    }

    private async void OnAppStateChange()
    {
        await InvokeAsync(StateHasChanged);
    }
}