@using Data
@using Services
<table>
    <thead>
        <tr>
            <th>POS</th>
            <th>Team</th>
            <th>PL</th>
            <th>GD</th>
            <th>P</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in footballTable)
        {
            <tr class="@HelperMethods.GetCssClassForCurrentStatus(team.Status)">
                <td>@team.Position</td>
                <td>
                    <div>
                        @team.Name
                    </div>
                </td>
                <td>@team.Played</td>
                <td>@team.GoalDifference</td>
                <td>@team.Points</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<Team> footballTable { get; set; } = new List<Team>();
}