@using Data
@using Services
@inject IJSRuntime _js

<table>
    <thead>
        <tr>
            <th>POS</th>
            <th>Team</th>
            <th>PL</th>
            <th>GD</th>
            <th>P</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in footballTable)
        {
            <tr id="@team.ShortName" class="@team.CssClass @HelperMethods.GetCssClassForCurrentStatus(team.Status)">
                <td>@team.Position</td>
                <td>
                    <div>
                        @team.Name
                    </div>
                </td>
                <td>@team.Played</td>
                <td>@team.GoalDifference</td>
                <td>@team.Points</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public IEnumerable<Team> footballTable { get; set; } = new List<Team>();

    public async void setCurrentlyPlaying(string home, string away)
    {
        await _js.InvokeVoidAsync($"PlTable.setClass", home, away);
    }

    public async void removeCurrentlyPlaying(string home, string away)
    {
        await _js.InvokeVoidAsync($"PlTable.removeClass", home, away);
    }
}