@using Data
<table>
    <thead>
        <tr>
            <th>POS</th>
            <th>Team</th>
            <th>PL</th>
            <th>GD</th>
            <th>Points</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in footballTable)
        {
            <tr class="@GetClass(team.Status)">
                <td>@team.Position</td>
                <td>@team.Name</td>
                <td>@team.Played</td>
                <td>@team.GoalDifference</td>
                <td>@team.Points</td>
                <td>@team.Status</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<Team> footballTable { get; set; } = new List<Team>();

    private string GetClass(string status)
    {
        switch (status)
        {
            case "Playing": // Currently playing
                return "team-is-playing";
            case "Done": // Game is over
                return "team-is-done";
            case "U": // Not started
            default:
                return "";
        }
    }
}