@page "/mortgage"

<title>Calculate mortgage stuff</title>

@using BlazorApp.Data
@using System.Timers
@using System.Text.Json

<h1>Mortgage all the things</h1>

<p>This is a tool to help visualize your mortgage application.</p>

<div class="mortgage">
    <div class="form-group">
        <div>
            <label for="purchasePrice">Purchase price SEK</label>
            <div class="input">
                <input id="purchasePrice" class="form-control" @onchange="changeValue"
                    @bind="mortgage.PurchasePriceString" @bind:event="oninput" />
            </div>
        </div>
        <div>
            <label for="downPayment">Down payment SEK</label>
            <div class="input">
                <input id="downPayment" class="form-control" @bind="mortgage.DownPaymentString" @bind:event="oninput"
                    @onchange="changeValue" />
            </div>
        </div>
        <div>
            <label for="interestRate">Interest rate %</label>
            <div class="input">
                <input id="interestRate" class="form-control" @bind="mortgage.InterestRate" @bind:event="oninput"
                    @onchange="changeValue" />
            </div>
        </div>
        <div>
            <label for="totalSalary">Total monthly salary</label>
            <div class="input">
                <input id="totalSalary" class="form-control" @bind="mortgage.TotalSalaryString" @bind:event="oninput"
                    @onchange="changeValue" />
            </div>
        </div>
    </div>
    <div class="expenses">
        <label>Monthly expenses</label>
        <div>
            <div class="input">
                <input @bind="expenseName" class="form-control" @bind:event="oninput" />
            </div>
            <div class="input">
                <input @bind="expenseCost" class="form-control" @bind:event="oninput" />
            </div>
            <button class="btn btn-primary" @onclick="AddToExpenses">Click me</button>

            @if (mortgage.Expenses != null)
            {
                <table>
                    <tr>
                        <th>Expense</th>
                        <th>Cost</th>
                    </tr>
                    @foreach (var expense in mortgage.Expenses)
                    {
                        <tr>
                            <td>@expense.Name</td>
                            <td>@expense.Cost.ToString("C0")</td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <b>Total</b>
                        </td>
                        <td>
                            <b>@mortgage.Expenses.Select(e => e.Cost).Sum().ToString("C0")</b>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
    <div class="summary">
        <div>
            <label>Purchase price: </label>
            <b>@mortgage.PurchasePriceString</b>
        </div>
        <div>
            <label>Down payment: </label>
            <b>@mortgage.DownPaymentString</b>
        </div>
        <div>
            <label>Interest rate: </label>
            <b>@mortgage.InterestRate%</b>
        </div>
        <div>
            <label>Loan: </label>
            <b>@mortgage.Loan.ToString("C0")</b>
        </div>
        <div>
            <label>Total salary to compare with: </label>
            <b>@mortgage.TotalSalaryToCompareWith.ToString("C0")</b>
        </div>
        <div>
            <label>Monthly installment rate</label>
            <b>@mortgage.InstallmentRate%</b>
        </div>
        <div>
            <label>Monthly loan costs</label>
            <b>@mortgage.MonthlyLoanCost.ToString("C")</b>
        </div>
    </div>
    <div>
        <label>@displayCounter</label>
    </div>
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var file = new DirectoryInfo(directory).GetFiles().OrderByDescending(o => o.LastWriteTime).FirstOrDefault();
            var json = File.ReadAllText($"{directory}/{file.Name}");
            
            if (!string.IsNullOrWhiteSpace(json) && mortgage != null)
            {
                mortgage = JsonSerializer.Deserialize<MortgageItem>(json);

                InvokeAsync(StateHasChanged);
            }
        }
    }

    private MortgageItem mortgage = new();

    private string expenseName { get; set; } = string.Empty;
    private int expenseCost { get; set; }

    private static Timer aTimer = new Timer();
    private int counter = 5;
    private string displayCounter = "";

    private string directory = "save";
    private string fileName = $"mortgage-{DateTime.Now.ToString("yyyy-MM-dd")}.json";
    private void changeValue()
    {
        counter = 5;
        aTimer.Stop();
        aTimer = new Timer(1000);
        aTimer.Elapsed += CountDownTimer;
        aTimer.Enabled = true;
    }

    private void CountDownTimer(Object? source, ElapsedEventArgs e)
    {
        if (counter > 0)
        {
            counter -= 1;
            displayCounter = counter.ToString();
        }
        else
        {
            aTimer.Enabled = false;
            displayCounter = "Saved to file!";
            counter = 5;
            SaveChangesToJson();
        }

        InvokeAsync(StateHasChanged);
    }

    private void AddToExpenses()
    {
        mortgage.Expenses.Add(new Expense
        {
            Name = expenseName,
            Cost = expenseCost
        });

        changeValue();

        expenseName = "";
        expenseCost = 0;
    }

    private void SaveChangesToJson()
    {
        var data = mortgage.ToJson();

        if (!Directory.Exists(directory))
        {
            Directory.CreateDirectory(directory);
        }

        File.WriteAllText($"{directory}/{fileName}", data);
    }
}