@page "/mortgage"

<title>Calculate mortgage stuff</title>

@using BlazorApp.Data
@using System.Timers
@using System.Text.Json

<h1>Mortgage all the things</h1>

<p>This is a tool to help visualize your mortgage application.</p>

<div class="mortgage">
    <div class="form-group">
        <div>
            <label for="purchasePrice">Purchase price SEK</label>
            <div class="input">
                <input id="purchasePrice" class="form-control" @onchange="changeValue"
                    @bind="mortgage.PurchasePriceString" @bind:event="oninput" />
            </div>
        </div>
        <div>
            <label for="downPayment">Down payment SEK</label>
            <div class="input">
                <input id="downPayment" class="form-control" @bind="mortgage.DownPaymentString" @bind:event="oninput"
                    @onchange="changeValue" />
            </div>
        </div>
        <div>
            <label for="interestRate">Interest rate %</label>
            <div class="input">
                <input id="interestRate" class="form-control" @bind="mortgage.InterestRate" @bind:event="oninput"
                    @onchange="changeValue" />
            </div>
        </div>
        <div>
            <label for="totalSalary">Total monthly salary</label>
            <div class="input">
                <input id="totalSalary" class="form-control" @bind="mortgage.TotalSalaryString" @bind:event="oninput"
                    @onchange="changeValue" />
            </div>
        </div>
    </div>
    <div class="expenses">
        <label>Monthly expenses</label>
        <div>
            <div class="input">
                <input @bind="expenseName" class="form-control" @bind:event="oninput" />
            </div>
            <div class="input">
                <input @bind="expenseCost" class="form-control" @bind:event="oninput" />
            </div>
            <button class="btn btn-primary" @onclick="AddToExpenses">Click me</button>

            @if (mortgage.Expenses != null)
            {
                <table class="expenses">
                    <tr>
                        <th>Expense</th>
                        <th class="center">Cost</th>
                        <th class="center">Remove</th>
                    </tr>
                    @foreach (var expense in mortgage.Expenses)
                    {
                        <tr>
                            <td>@expense.Name</td>
                            <td class="right">@expense.Cost.ToString("C0")</td>
                            <td class="center"><label @onclick="@(e => RemoveExpense(expense))">x</label></td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <b>Total</b>
                        </td>
                        <td class="right">
                            <b>@mortgage.Expenses.Select(e => e.Cost).Sum().ToString("C0")</b>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
    <div class="summary">
        <table>
            <tr>
                <td>Purchase price: </td>
                <td>@mortgage.PurchasePrice.ToString("C0")</td>
            </tr>
            <tr>
                <td>Down payment: </td>
                <td>@mortgage.DownPayment.ToString("C0")</td>
            </tr>
            <tr>
                <td>Interest rate: </td>
                <td>@mortgage.InterestRate%</td>
            </tr>
            <tr>
                <td>Loan: </td>
                <td>@mortgage.Loan.ToString("C0")</td>
            </tr>
            <tr>
                <td>Total salary to compare with: </td>
                <td>@mortgage.TotalSalaryToCompareWith.ToString("C0")</td>
            </tr>
            <tr>
                <td>Monthly installment rate</td>
                <td>@mortgage.InstallmentRate%</td>
            </tr>
            <tr>
                <td>Monthly loan costs</td>
                <td>@mortgage.MonthlyLoanCost.ToString("C")</td>
            </tr>
        </table>
    </div>
    <div>
        <label>@displayCounter</label>
    </div>
</div>

@code {
    private MortgageItem mortgage = new();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var file = new DirectoryInfo(directory).GetFiles().OrderByDescending(o => o.LastWriteTime).FirstOrDefault();
            if (file != null)
            {
                var json = File.ReadAllText($"{directory}/{file.Name}");

                if (!string.IsNullOrWhiteSpace(json) && mortgage != null)
                {
                    mortgage = JsonSerializer.Deserialize<MortgageItem>(json) ?? new();

                    InvokeAsync(StateHasChanged);
                }
            }
        }
    }

    private string expenseName { get; set; } = string.Empty;
    private int expenseCost { get; set; }

    private static Timer aTimer = new Timer();
    private int counter = 5;
    private string displayCounter = "";

    private string directory = "save";
    private string fileName = $"mortgage-{DateTime.Now.ToString("yyyy-MM-dd")}.json";
    private void RemoveExpense(Expense expense)
    {
        mortgage.Expenses.Remove(expense);
        changeValue();
    }

    private void changeValue()
    {
        counter = 5;
        aTimer.Stop();
        aTimer = new Timer(1000);
        aTimer.Elapsed += CountDownTimer;
        aTimer.Enabled = true;
    }

    private void CountDownTimer(Object? source, ElapsedEventArgs e)
    {
        if (counter > 0)
        {
            counter -= 1;
            displayCounter = counter.ToString();
        }
        else
        {
            aTimer.Enabled = false;
            displayCounter = "Saved to file!";
            counter = 5;
            SaveChangesToJson();
        }

        InvokeAsync(StateHasChanged);
    }

    private void AddToExpenses()
    {
        if (string.IsNullOrWhiteSpace(expenseName) || expenseCost < 1)
        {
            return;
        }

        mortgage.Expenses.Add(new Expense
        {
            Name = expenseName,
            Cost = expenseCost
        });

        changeValue();

        expenseName = "";
        expenseCost = 0;
    }

    private void SaveChangesToJson()
    {
        var data = mortgage.ToJson();

        if (!Directory.Exists(directory))
        {
            Directory.CreateDirectory(directory);
        }

        File.WriteAllText($"{directory}/{fileName}", data);
    }
}